@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(21, 21, 21);
}
.container {
  max-width: 1280px;
}

/* header css start */
.main-menu li {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 20px 26px;
  position: relative;
}
.header-before .main-menu li a {
  font-weight: 500;
}
.main-menu li a {
  color: #ff9c00;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* header css end */

/* footer css start */
.branding-box::before {
  background: url(./assets/branding-bg.png),
    linear-gradient(294deg, #fff, #373737);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}
.styles_row_your_card__LauG9 {
  background: #2b2b2b;
  background: linear-gradient(
    90deg,
    #2a2a2a 40.27%,
    rgba(42, 42, 42, 0.75) 48.93%,
    rgba(42, 42, 42, 0) 80.17%
  );
  border-radius: 30px;
  padding: 34px 34px 32px 59px;
  position: relative;
  z-index: 9;
}
.styles_row_your_card__LauG9 h1 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    91deg,
    #f0bf73 7.13%,
    #cc9e48 70.29%,
    rgba(46, 167, 255, 0.99) 80.01%
  );
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.styles_row_your_card__LauG9 p {
  color: #b4b4b4;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 48px;
}
.box-btn {
  background: linear-gradient(94deg, #f1b63f 46.68%, #e0a819 102.15%);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 11px 9px 0 rgba(255, 163, 0, 0.13);
  color: #4d3000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 46px;
  line-height: normal;
  width: 147px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.styles_copyright__bLknF {
  align-items: center;
  background-color: #222;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 26px;
  margin-top: 51px;
  padding: 23px 0 11px;
  width: 100%;
}
.styles_copyright__bLknF .styles_copyright_text__U57Gd {
  color: #eee;
  font-size: 12.7586px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 12px;
  opacity: 0.4;
}
.ft-widget h4 {
  color: #9f750f;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
.ft-links li a {
  color: #f0be73;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}
.ft-links li {
  margin-bottom: 9px;
  display: block;
}

.ft-widget.type-2 h4 {
  margin-bottom: 5px;
}
.ft-widget.type-2 .ft-links li {
  margin-bottom: 0px;
}
.ft-widget.type-2 .ft-links li a {
  font-weight: 500;
}
.branding-box-outer {
  margin-bottom: 80px;
}
.styles_footer_logo_text__FTFNz {
  color: #f0bf73;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.styles_tagLineText__ytNOD {
  color: #e2aa1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 15px;
}
/* footer css end */

/* SelectedCard page css start */
.user-image {
  background: linear-gradient(92deg, #f6cd66, #f2c860, #b1830f, #a87903);
  border-radius: 104px;
  bottom: -45px;
  height: 104px;
  left: 25px;
  padding: 2px;
  position: absolute;
  width: 104px;
}
.user-image .user-image-pen {
  background: #ffb94e;
  bottom: 0;
  color: #fff;
  right: 0;
}
.drag-container p {
  color: #f6cd66;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 7px;
}
.drag-container p span {
  color: #f6cd66;
  font-size: 15px;
  font-weight: 500;
  display: block;
}
.gradient-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    92deg,
    #eac384 7.04%,
    rgba(32, 129, 200, 0.99) 111.71%
  );
  background-clip: text;
  -webkit-background-clip: text;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.page-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
}
.page-self {
  padding-top: 20px;
}
.color-theme {
  color: #f6cd66;
}
.selectCard-page .lf {
  padding-right: 56px;
}
.data-selected {
  background: rgba(255, 200, 50, 0.29);
  border: 2px solid #f6cd66;
  border-radius: 13px;
}
.custom-input,
.select-el .min-w-\[200px\] .peer,
.flag-dropdown {
  appearance: none;
  background-clip: padding-box;
  background-color: #222;
  border: 1px solid #4e3002;
  border-radius: 4px;
  color: #f6cd66;
  display: block;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
  width: 100%;
  height: 36px;
  padding: 0 16px;
  outline: none;
  transition: 0.3s;
}
.flag-dropdown {
  background-color: #222;
  border: 1px solid #4e3002;
  border-radius: 4px;
  height: 36px;
  pointer-events: none;
}
.input-inside > label,
.label-p {
  display: block;
  color: #f6cd66;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.drag-box-outer {
  margin-bottom: 72px;
}
.select-el .min-w-\[200px\] {
  min-width: 100%;
}
textarea.custom-input {
  height: 122px;
  padding: 10px 16px;
}
.add-more {
  background: #f6cd66;
  border-radius: 12px;
  color: #4e3002;
  font-size: 13px;
  font-weight: 400;
  height: 23px;
  padding: 0 7px;
}
.social-links {
  width: 45px;
  height: 45px;
  position: relative;
  display: block;
}
.social-link-overlay svg {
  width: 45px;
}
.social-link-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-links img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.count-button {
  background-color: #222;
  border: 1px solid #4e3002;
  border-radius: 4px;
  height: 34px;
  justify-content: space-between;
}
.box-btn-2 {
  background: linear-gradient(92deg, #fd5, #fbd853, #b27c27, #fddb54, #b27c27);
  border-radius: 8px;
  height: 49px;
  padding: 2px;
  width: 120px;
  font-size: 15px;
  font-weight: 600;
}
.box-btn-2 div {
  background-color: #222;
  color: #f7ad27;
}
.box-btn-2.style-3 div {
  background: linear-gradient(
    92deg,
    #d38800 5.78%,
    #d48800 17.09%,
    #feb42e 41.12%,
    #fcb12b 57.14%,
    #dd9411 77.87%,
    #ffb52f 96.25%
  );
  color: #4d3000;
}
.select-el label {
  color: #f6cd66;
  font-size: 13px;
}
.cover-photo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}
.ct-list-card li a {
  color: #1877db;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.save-card {
  background: linear-gradient(
    184deg,
    #ffb94e -21.96%,
    #c38629 36.87%,
    #d68100 70.17%,
    #febd5a 97.14%,
    #ffd79a 115.79%
  );
  border: 2px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 45px;
}
.save-card.bg-white {
  background: #fff;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.07);
}
.styles_TruncateItemCount__jGiyw {
  background: #e5eeff;
  border-radius: 20px;
  padding: 3px 8px;
}
.styles_TruncateSocialItem__PpzL5 {
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.239));
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2392156863));
  height: 20px;
  margin-left: -10px;
  position: relative;
  width: 20px;
}
.styles_TruncateSocialItem__PpzL5 img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.styles_DropdownItemContainer__-RA5C {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
  max-height: 250px;
  overflow: auto;
  padding: 5px;
  width: 110px;
  left: 50%;
  transform: translateX(-50%);
}
.styles_DropdownItemContainer__-RA5C .styles_DropdownItem__JQAsG {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  padding: 6px 8px;
  width: 100%;
}
.styles_DropdownItemContainer__-RA5C
  .styles_DropdownItem__JQAsG:not(:last-child) {
  margin-bottom: 4px;
}
.styles_DropdownItemContainer__-RA5C .styles_DropdownItem__JQAsG p {
  color: #555;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.styles_Logo__sQgAR {
  width: 19px;
  height: 19px;
  margin-right: 4px;
}
.slick-prev,
.slick-next {
  z-index: 10 !important;
  background: linear-gradient(
    92deg,
    #d38800 5.78%,
    #d48800 17.09%,
    #feb42e 41.12%,
    #fcb12b 57.14%,
    #dd9411 77.87%,
    #ffb52f 96.25%
  ) !important;
  border: 2px solid #fd5 !important;
  border-radius: 25px;
  box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.18);
  height: 30px !important;
  width: 30px !important;
}
.slick-prev::before,
.slick-next::before {
  content: "";
}
.slick-prev {
  left: 0 !important;
}
.slick-next {
  right: 0 !important;
}
.slick-list {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
/* SelectedCard page css end */

/* homepage css start */
.hero-area::after {
  background: linear-gradient(
    83deg,
    #1b1b1b 25.29%,
    rgba(27, 27, 27, 0.69) 49.52%,
    rgba(27, 27, 27, 0.39) 66.36%,
    rgba(27, 27, 27, 0) 94.89%
  );
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.styles_zeeqr_section__Ukmdt .styles_hero_section_p1__Tmy9o {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    91deg,
    #ff9b01 7.13%,
    #e5aa3c 80.29%,
    rgba(41, 165, 255, 0.99) 104.01%
  );
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.styles_zeeqr_section__Ukmdt .styles_hero_section_p2__9AtzL {
  color: #a0a0a0;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}
.styles_tagLineText__ytNOD {
  color: #e2aa1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.styles_marginLeftAuto__uhakb {
  margin-left: auto;
}
.styles_col_home__6H2IT {
  display: flex;
  flex-direction: start;
}

.whyus-content h4 {
  color: #f6cd66;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 18px;
}
.whyus-content p {
  font-size: 20px;
  color: #f6cd66;
  font-weight: 400;
  line-height: 1.3;
}
.whyus-content {
  max-width: 420px;
}
.whyus-img {
  width: 400px;
}
.gradient-one {
  background: linear-gradient(
    92deg,
    #e39c28 0.04%,
    rgba(1, 141, 242, 0.99) 15.71%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.primary-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.whyus-area {
  padding: 170px 0;
}
.cta-overlay {
  background: linear-gradient(267deg, #eea900 -2.97%, #0e448a 96.94%);
  box-shadow: inset 0 4px 184px 93px #fff3e1;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.cta-overlay-back {
  background: #000;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.access-btns {
  background: linear-gradient(
    92deg,
    #d38800 5.78%,
    #d48800 17.09%,
    #feb42e 41.12%,
    #fcb12b 57.14%,
    #dd9411 77.87%,
    #ffb52f 96.25%
  );
  border-radius: 10px;
  box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.18);
  color: #4d3000;
  font-weight: 600;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  height: 47px;
  display: inline-flex;
  align-items: center;
  padding: 0 22px;
}
.access-btns-outer {
  background: linear-gradient(92deg, #fd5, #fbd853, #b27c27, #fddb54, #b27c27);
  border-radius: 10px;
  padding: 2px;
}
.styles_col__t0VEX .box-btn {
  color: #000;
  margin-top: 12px;
  width: auto;
  padding: 0 20px;
}
.cta-content h2 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    92deg,
    #e39c28 0.04%,
    rgba(1, 141, 242, 0.99) 60.71%
  );
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 700;
  font-size: 40px;
}
.cta-content p {
  color: #a5772b;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 0;
}
.box-btn.relux {
  width: auto;
  padding: 0 20px;
}
.box-btn:hover {
  color: #7a5908;
}
.rect-one {
  left: -55px;
  top: -140px;
}
.rect-two {
  left: 45%;
  top: -469px;
}
.rect-three {
  bottom: -522px;
  left: 51%;
}
.feature-card .top {
  align-items: center;
  background: radial-gradient(
      50% 50% at 50% 50%,
      hsla(42, 78%, 66%, 0.2) 0,
      rgba(155, 104, 27, 0.2) 100%
    ),
    linear-gradient(
      146deg,
      #ffdd87 1.53%,
      #ffd262 23.63%,
      #fd8 23.64%,
      #ffdd89 50.65%,
      #e59806 50.66%,
      #c38004 77.66%,
      #654201 77.67%,
      #5c3b00 95.85%
    );
  border: 4px solid #f6cd66;
  border-radius: 34px;
  box-shadow: inset 9px 5px 6px 1px rgba(255, 242, 209, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 36px;
  padding: 8px 7px;
  height: 315px;
}
.feature-card p {
  color: #a5772b;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.523%;
  text-transform: capitalize;
}
.feature-card .top h5 {
  background: #fff;
  border-radius: 25px;
  color: #996b07;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: 97px;
  line-height: normal;
  padding: 0 33px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.fea-icon img {
  max-height: 76px;
}
.fea-icon {
  margin-top: 45px;
}
.feature-area {
  background-color: #222;
  border-radius: 20px;
  margin-top: -20px;
  position: relative;
  z-index: 10;
  padding: 80px 0;
}
.twin-area {
  padding: 80px 0;
}
.whyus-content.plc-2 h4 {
  background: linear-gradient(
    92deg,
    #f5ac35 7.04%,
    rgba(20, 117, 188, 0.99) 111.71%
  );
  background-clip: text;
  color: transparent;
  font-size: 40px;
}
.whyus-content.plc-2 p {
  color: #d18c0d;
  font-weight: 600;
  font-size: 22px;
}
.whyus-content.plc-2 {
  max-width: 100%;
}
.qc-img {
  max-width: 600px;
  margin-left: auto;
}
/* homepage css end */

/* aboutus css start */
.hero-area.type-2::after {
  background-color: #000;
  opacity: 0.2;
}
.about-card-wrapper {
  display: grid;
  grid-template-columns: 2fr 450px;
  grid-gap: 40px;
}
.dash-title {
  color: #dbb24b;
  font-size: 15px;
  padding-left: 60px;
  position: relative;
  line-height: 1;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
}
.dash-title.both {
  padding-right: 60px;
}
.dash-title::after,
.dash-title.both::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #dbb24b;
  left: 0;
  bottom: 3px;
}
.dash-title.both::before {
  left: auto;
  right: 0;
}
.about-area {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-area .whyus-content.plc-2 p {
  font-size: 18px;
  line-height: 1.4;
}
.about-area .whyus-content.plc-2 p:not(:last-child) {
  margin-bottom: 24px;
}
.digi-wrapper .whyus-content.plc-2 {
  margin-bottom: 55px;
}
.about-card-wrapper.type-2 {
  grid-template-columns: 450px auto;
}

.about-card-wrapper.type-2 {
  grid-template-columns: 450px auto;
}
.card-list li {
  display: grid;
  grid-template-columns: 75px auto;
  grid-gap: 15px;
}
.card-list li p span {
  color: #a5772b;
  font-size: 17px;
  font-weight: 500;
}
.about-card-wrapper.type-2 p {
  color: #f6cd66;
}
.card-list li:not(:last-child) {
  margin-bottom: 45px;
}
.card-list {
  margin-top: 45px;
}

.info-content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-content h2 span {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  margin: 0 6px;
}
.info-content p {
  color: #fff;
  font-size: 20px;
}
.info-area {
  padding: 70px 0;
  margin: 90px 0;
}

.card-list.type-2 li {
  display: block;
}
.card-list.type-2 li p {
  margin-top: 10px;
  font-weight: normal;
}
/* aboutus css end */

/* contact css start */

.contact-area {
  padding: 100px 0;
}
.contact-infos {
  background-color: #222;
  padding: 30px;
  text-align: left;
}
.contact-infos h2 {
  font-size: 27px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
.contact-infos p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
.contact-infos h6 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px;
}
.contact-numbers li {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  grid-gap: 10px;
  margin-top: 15px;
}
.contact-numbers {
  margin-top: 35px;
}

.contact-form .input-inside {
  margin-bottom: 34px;
}
.contact-form .input-inside input.custom-input {
  height: 48px;
}

.info-content.type-2 h2 {
  background: linear-gradient(
    92deg,
    #f5ac35 7.04%,
    rgba(20, 117, 188, 0.99) 111.71%
  );
  background-clip: text;
  color: transparent;
}
.info-content.type-2 p {
  color: #f6cd66;
}
.contact-g-wrapper {
  margin-bottom: 145px;
}
.contact-area .whyus-content.plc-2 p {
  font-weight: normal;
  font-size: 17px;
}
/* contact css end */

/* auth css start */
.auth-container {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: linear-gradient(
    130deg,
    hsla(0, 0%, 80%, 0.207),
    rgba(40, 40, 40, 0)
  );
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 15px;
  max-width: 380px;
  padding: 25px 20px;
  position: relative;
  width: 100%;
}
.auth-area-inner {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
}

.input-inside.auth .custom-input,
.input-inside.auth select,
.input-inside.auth .flag-dropdown {
  border: 0.937701px solid #dcb249;
  opacity: 0.45;
  height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 6px;
}
.auth .flag-dropdown svg.group.absolute {
  top: 12px;
}
.input-inside.auth {
  margin-bottom: 20px;
}
.auth-form .box-btn {
  background: linear-gradient(
    92deg,
    #d38800 5.78%,
    #d48800 17.09%,
    #feb42e 41.12%,
    #fcb12b 57.14%,
    #dd9411 77.87%,
    #ffb52f 96.25%
  );
  border: 2px solid #fd5;
  width: 100%;
  border-radius: 6px;
  height: 48px;
  color: #fff;
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 0.4px;
  font-size: 15px;
}
/* auth css end */

/* Media Query */
@media screen and (max-width: 1023px) {
  .about-card-wrapper {
    display: block;
  }
  .info-content h2 span {
    display: none;
  }
  .about-area .qc-img {
    margin-bottom: 30px;
  }
  .info-area {
    padding: 60px 0;
    margin: 50px 0;
  }
}
@media screen and (max-width: 959px) {
  .selectCard-page .lf {
    padding-right: 0;
  }
  .main-menu li {
    height: 40px;
    margin: 0 26px;
    justify-content: flex-start;
  }
  .styles_row_your_card__LauG9 {
    padding: 30px;
  }
  .styles_row_your_card__LauG9 h1 {
    font-size: 30px;
  }
  .styles_row_your_card__LauG9 p {
    font-size: 20px;
    margin-bottom: 26px;
  }
  .mobile-view-button {
    align-items: center;
    background: linear-gradient(
      92deg,
      #d38800 5.78%,
      #d48800 17.09%,
      #feb42e 41.12%,
      #fcb12b 57.14%,
      #dd9411 77.87%,
      #ffb52f 96.25%
    );
    border: 2px solid #fd5;
    border-radius: 25px;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.18);
    display: flex;
    height: 40px;
    justify-content: center;
    position: fixed;
    right: 5px;
    top: 70%;
    width: 40px;
    z-index: 2;
    cursor: pointer;
  }
}
@media screen and (max-width: 719px) {
  .contact-area {
    padding: 60px 0;
  }
  .contact-g-wrapper {
    margin-bottom: 75px;
  }
  .primary-title {
    font-size: 34px;
  }
  .whyus-area {
    padding: 130px 0;
  }
  .whyus-content h4 {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  .whyus-content p {
    font-size: 17px;
    color: #f6cd66;
  }
  .whyus-content {
    margin-bottom: 40px;
  }
  .whyus-img {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .styles_zeeqr_section__Ukmdt .styles_hero_section_p1__Tmy9o {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      91deg,
      #ff9b01 7.13%,
      #e5aa3c 39.29%,
      rgba(41, 165, 255, 0.99) 104.01%
    );
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 38px;
    width: 228px;
  }
  .styles_zeeqr_section__Ukmdt .styles_hero_section_p2__9AtzL {
    font-size: 18px;
  }
  .hero-area .royal-circle {
    height: 400px;
    top: 53%;
    width: 400px;
  }
  .whyus-content.plc-2 p {
    font-size: 18px;
  }
  .twin-area {
    padding-bottom: 30px;
    padding-top: 50px;
  }
  .feature-area {
    padding: 60px 0;
  }
  .rect-one {
    left: -55px;
    top: -140px;
    width: 50%;
  }
  .rect-two {
    left: 77%;
    top: 8%;
    width: 84%;
  }
  .rect-three {
    bottom: -24%;
    left: -38%;
    width: 68%;
  }
  .about-area {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .info-content h2 {
    font-size: 32px;
    line-height: 1.4;
  }
  .info-content p {
    font-size: 17px;
  }
}
